html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    --color-take-action: #d9514eff;
    --color-attention: #2da8d8ff;
    --color-accent: #2a2b2dff;
}
body {
    font-size: 1.6rem;
    margin: 0;
    padding: 2rem 1rem;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-accent);
    display: flex;
    padding: .2em 1em;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
}
#nav-bar {
    flex: 1 0 auto;
}
#header-img {
    flex: 0 0 auto;
}
#nav-bar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0 1.5em;
}
li a {
    text-decoration: none;
    color: var(--color-attention);
    font-size: 2rem;
}
main {
    margin-top: 120px;
    display: grid;
    grid-template-areas: "headline headline"
                         "subheadline subheadline"
                         "hero ."
                         "reel-in ."
                         "benefits ."
                         "products ."
                         "footer footer";
}
h1 {
    grid-area: headline;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;
}
#sub-heading {
    grid-area: subheadline;
    text-align: center;
    margin: .5em 0 2em 0;
}
#hero {
    display: flex;
    flex-direction: column;
    grid-area: hero;
    padding: 1em;  
}
video {
    margin-bottom: 1em;
    align-self: center;
}
#primary-testimonial {
    margin: 0;
    align-self: center;
}
#proof {
    grid-area: reel-in;
}
#products {
    grid-area: products
}
#benefit-list {
    grid-area: benefits;
}
#call-to-action {
    position: sticky;
    top: 130px;
    right: 0;
    width: 250px;
    border: 1px solid var(--color-accent);
    padding: 1em .5em;
}
form header {
    margin-bottom: 2.5em;
}

#form-email-element {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}
label {
    margin-bottom: .2em;
}
input {
    padding: .5em 2em;
}
form {
    display: flex;
    flex-direction: column;
}


#call-to-action blockquote{
    font-size: 1.4rem;
    margin: 0;
}

[type=submit] {
    color: white;
    padding: .5em 1em;
    background-color: var(--color-take-action);
    width: 100%;
}
#product-container {
    display: flex;
    flex-wrap: wrap;
}
.product-card {
    margin: .3em;
}
footer {
    grid-area: footer;
}

/*main {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
form {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
@media (max-width: 500px) {
    form {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    #form-email-element, #form-submit-element {
        width: 100%;
    }
    #form-email-element {
        display: flex;
        flex-direction: column;
    }
}
#submit, #email {
    padding: 7px 12px;
    font-size: 1.6rem;
    border-radius: 0;
    appearance: none;
}

#submit {
    color: dodgerblue;
    background-color:gold;
    border: 1px solid transparent;
}
@media (max-width: 500px) {
    #submit {
        width: 100%;
    }
}

#email {
    color: dodgerblue;
    border: 1px solid goldenrod;
    margin-right: .2em;
}
@media (max-width: 500px) {
    #email {
        margin-bottom: .5em;
        margin-right: 0;
    }
}
video {
    margin-bottom: 2em;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    width: 100%;
}
.product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: .5em;
    background-color:rgb(110, 220, 20);
}
.product-image {
    height: 100%;
    background-color: rgb(66, 66, 212);
}
.product-image:hover {
    height: 70%;
}*/
