body {
    --color-background: #184A45FF;
    --color-foreground: #B0B8B4FF;
    --color-action: #FC766AFF;
}
html {
    font-size: 10px;
}
body {
    padding: 1em;
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: .5em;
    font-size: 1.6rem;
    background-color: var(--color-background);
}
@media (max-width: 450px) {
    #navbar {
        display: none;
    }
}
#navbar ul {
    margin: 2em 1em;
    padding: 1em 1em;
    list-style: none;

}
nav li {
    border-bottom: 1px solid var(--color-action);
    font-family: 'Roboto', sans-serif;
}
ul li {
    margin-bottom: 2em;
}
li a {
    text-decoration: none;
    color: var(--color-foreground);
}
#main-doc {
    padding: 1em;
    height: 150vh;
    margin-left: 210px;
}
@media(max-width: 450px) {
    #main-doc {
        margin-left: 0;
    }
}
section {
    margin-bottom: 2em;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
pre {
    white-space: pre-line;
}
header {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1px solid var(--color-action);
    background-color: var(--color-action);
}
